<h1>Welcome to BetaBlog!</h1>
<p class="lead">This is sample project.<br> And the work is still in progress go on and 
<%= link_to "SignUp", new_user_registration_path%>, if you already have an accound 
<%= link_to "LogIn", user_session_path%>.</p>
